# **The Use of SQL for Exploratory Data Analysis of a Credit Dataset**
*This notebook is part of a final project to the course "SQL for Data Analysis", by EBAC*

# **About**

This project will analyze a dataset that contains information from a bank's customers, providing insights that may contribute to a better understanding of the client base, helping strategy development and decision-making.

# **1. Data Structure**

The dataset is composed by the following columns:

* idade = cutomer age,
* sexo = customer gender (F = female or M = male),
* dependentes = number of customer's dependents,
* escolaridade = custumer's education level,
* estado_civil = marital status,
* salario_anual = annual salary range,
* tipo_cartao = customer's credit card type,
* qtd_produtos = amount of products purchased in the last 12 months,
* iteracoes_12m = number of iterations/transactions in the last 12 months,
* meses_inativo_12m = number of months the customer was inactive,
* limite_credito = customer credit limit,
* valor_transacoes_12m = total value of transactions in the last 12 months,
* qtd_transacoes_12m = number of transactions in the last 12 months.

The table was created in **AWS Athena** along with **S3 Bucket**. 

A version of the data available at https://github.com/andre-marcos-perez/ebac-course-utils/tree/main/dataset

# **2. Main dataset characteristics**

Exploration of the main dataset characteristics:


**2.1. Total amount of lines:**

* **Query 1:** SELECT count(*) FROM credito

> 2564 lines

The total amount of lines refers to the total of clients registered in the dataset. As such, all the other data in the dataset are related to the client's IDs.

**2.2. Main table structure:**

* **Query 2:** SELECT* FROM credito LIMIT 10

<img src="https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_1_query_02.jpg?raw=true">

As mentioned before, it is possible to realize that the present data are related to the client's IDs. Also, it is possible to see that there is some null data.

**2.3. Data types:**

Here follows the data schema:

* **Query 3:** DESCRIBE credito

<img src= "https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_1_query_03.jpg?raw=true">

**2.4. Non numerical data:**

Knowing the dataset details is a very important step to start to analyze the data. That's because these details will be the base for our analytical thinking and help us to make de right questions to solve the problems we're dealing with.

The data analysis is made of numerical and nonnumerical data.
The nonnumerical data presented in this dataset is:

**|escolaridade / education**

* **Query 4:** SELECT DISTINCT escolaridade FROM credito

<img src= "https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_1_query_04.jpg?raw=true">

> Customer level education description. Contains null values.

**|estado_civil / marital status**

* **Query 5:** SELECT DISTINCT estado_civil FROM credito

<img src= "https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_1_query_05.jpg?raw=true">

> Customer marital status description. Contains null values.

**|salario_anual / annual salary**

* **Query 6:** SELECT DISTINCT salario_anual FROM credito

<img src= "https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_1_query_06.jpg?raw=true">

> Customer annual salary range. Contains null values.

**|tipo_cartao / credit card type**

* **Query 7:** SELECT DISTINCT tipo_cartao FROM credito

<img src= "https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_1_query_07.jpg?raw=true">

> Customer's credit card type, according to the benefits class offered by the bank. Don't contain null values.

# **3. Data Exploration**

Data exploration will separately analyze customer profiles and purchase profiles.

**3.1. Customer profile:**

**| Customer gender**

* **Query 1:** SELECT COUNT (*) AS qtd_clientes, sexo FROM credito GROUP BY sexo

![image](https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_cliente_query_01.jpg?raw=true)

![image](https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_cliente_grafico_query_01.jpg?raw=true)

> We can see that the male customers fill the majority of the base, representing a total of 61% of the analyzed base.

**| Customer age**

* **Query 2:**: SELECT sexo, MAX (idade) AS idade_max, MIN (idade) AS idade_min, AVG (idade) AS media_idade FROM credito GROUP BY sexo

![image](https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_cliente_query_02.jpg?raw=true)

> The average age is the same for de both genders and the difference between the oldest male customer to the oldest female isn't so far.

**| Costumer education level**

* **Query 3:** SELECT escolaridade AS education_level, COUNT (escolaridade) FROM credito GROUP BY escolaridade  

![image](https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_cliente_query_e_grafico_03.jpg?raw=true)

> Most of the clients have a master's degree level of education, followed by clients with a high school level of education and clients with no formal education. 
We can analyze the relationship between education, gender, credit limit, the availability of credit card types, and the annual salary range:

* **Query 4:** SELECT escolaridade AS education_level, tipo_cartao AS credit_card_type, salario_anual AS annual_salary_range, limite_credito AS credit_limit, sexo AS gender FROM credito ORDER BY limite_credito DESC LIMIT 10

![image](https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_cliente_query_04_01.jpg?raw=true)

> Observing the results above, it is possible to realize that the highest credit limits belong to males, with an annual salary range between 60K and more then 120K and the educational level seems not to be relevant to define the credit level.

* **Query 5:** SELECT escolaridade AS education_level, tipo_cartao AS credit_card_type, salario_anual AS annual_salary_range, limite_credito AS credit_limit, sexo AS gender FROM credito ORDER BY limite_credito ASC LIMIT 10

![image](https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_cliente_query_05_01.jpg?raw=true)

> Observing the results above, it is possible to see that the lowest credit limits belong to women, with an annual salary range between less than 40K and 60K. It is also possible to observe that most women has higher level of education.

**3.2. Analysis of average annual salary vs education level by gender:**

**|Men's annual salary range vs Education level:**

* **Query 6:** Select Count (salario_anual) AS total, salario_anual AS annual_salary_range FROM credito WHERE sexo = 'M' GROUP BY salario_anual
![image](https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_cliente_query_06.jpg?raw=true)

* **Query 7:** Select Count (escolaridade) AS total, escolaridade AS education_level FROM credito WHERE sexo = 'M' GROUP BY escolaridade
![image](https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_cliente_query_07_02.jpg?raw=true)

**|Women's annual salary range vs Education level:**

* **Query 8:** Select Count (salario_anual) AS total, salario_anual AS annual_salary_range FROM credito WHERE sexo = 'F' GROUP BY salario_anual
![image](https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_cliente_query_07.jpg?raw=true)

* **Query 9:** Select Count (escolaridade) AS total, escolaridade AS education_level FROM credito WHERE sexo = 'F' GROUP BY escolaridade
![image](https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_cliente_query_09.jpg?raw=true)

> Analyzing the total customer base, it is observed that the number of men and women with higher education levels is similar (50% men and 51% women), but men have a higher salary range.


**3.3. Purchase profile:**

**| Average ticket**

* **Query 10:** SELECT valor_transacoes_12m AS highest_value_spent, sexo AS gender , salario_anual AS annual_salary_range FROM credito ORDER BY valor_transacoes_12m DESC LIMIT 10

![image](https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_cliente_query_10.jpg?raw=true)

> It is noted that the highest amounts spent in the last 12 months are very similar between men and women.

**| Annual salary range**

* **Query 11:** SELECT COUNT (salario_anual) AS total, salario_anual as annual_salary_range FROM credito GROUP BY salario_anual

![image](https://github.com/camila1sm/sql_ebac/blob/main/ebac_projeto_cliente_query_11.jpg?raw=true)

> Is noted that the majority of clients have a salary range between 60k and 120k  (54.83%), while the smallest portion of clients are in the highest salary range, above 120k (8.65%).

# **4. Conclusions**

Insights obtained through dataset analysis:

* Most customers has an income between 60k and 120k;
* The women are the smallest part of the bank's customers having lower education and salary levels than men;
* The customers with the highest salary ranges have the highest credit limits and different types of credit cards (Blue, Silver, Gold, and Platinum), while customers with the lowest ranges have the lowest limits and only one type of card (Blue). Thus, we can conclude that the customers' salary range is one of the criteria used to release the type of credit card and credit limit.
* Men have higher credit limits than women. Men's higher salary ranges may influence the scenario.
* Education level does not influence the release of the credit limit;
* Although the average annual ticket for men and women is similar, women spend high amounts despite having a lower salary range than men.

A final reflection to be considered concerns the scenario outside the bank: does women have the lowest level of education and, consequently, the lowest salary ranges? Could this scenario affect the presence of women in the economy?